In [1]:
%load_ext autoreload
%autoreload 2

from coeditor.common import *
from coeditor.dataset import *

os.chdir(proj_root())

In [2]:
dataset_name = "small"
save_dir = get_dataset_dir(dataset_name) / "tokenized-file_based"

In [3]:
from coeditor.dataset import datasets_from_repos

datasets = datasets_from_repos(get_dataset_dir(dataset_name) / "repos")

Getting commit histories: 100%|██████████| 9/9 [00:35<00:00,  3.90s/repo]
Create tokenized edits: 100%|██████████| 81/81 [06:05<00:00,  4.51s/chunk]

In [5]:
display(datasets)

for name, dataset in datasets.items():
    pickle_dump(save_dir / f"{name}.pkl", dataset)

print("Tokenized dataset saved to:", save_dir)

{'train': TokenizedEditDataset(n_projects=7, n_edits=8930),
 'test': TokenizedEditDataset(n_projects=2, n_edits=2398)}

Tokenized dataset saved to: /mnt/nas/jiayi/coeditor/datasets/small/tokenized-file_based

In [6]:
for name in ["train", "test"]:
    dataset = pickle_load(save_dir / f"{name}.pkl")
    print("=" * 20, name, "=" * 20)
    display(dataset.per_repo_stats())

==================== train ====================

      repo  n_edits  avg_input_size  avg_target_size
0    flask     1235     8505.678543        92.988664
1  fastapi     1566     3605.323755        76.697957
2  you-get     1387     3526.563086       127.019466
3   yolov5     1138     6262.162566       128.910369
4   httpie     1907     2974.235973        65.759832
5     bert       85     7252.164706       164.482353
6    black     1612    19970.601117        82.321340

==================== test ====================

       repo  n_edits  avg_input_size  avg_target_size
0       gym     1516     1943.487467        75.400396
1  requests      882     3534.580499        75.961451