In [1]:
%load_ext autoreload
%autoreload 2

from coeditor.common import *
from coeditor.dataset import *

os.chdir(proj_root())

In [2]:
dataset_name = "small"
# dataset_name = "SPOT"
save_dir = get_dataset_dir(dataset_name) / "tokenized-file_based"

In [3]:
from coeditor.dataset import datasets_from_repos

if dataset_name == "SPOT":
    datasets = {"test": dataset_from_projects([proj_root()])}
else:
    datasets = datasets_from_repos(get_dataset_dir(dataset_name) / "repos")

Getting commit histories: 100%|██████████| 9/9 [00:33<00:00,  3.76s/repo]
Create tokenized edits: 100%|██████████| 81/81 [06:10<00:00,  4.58s/chunk]

In [4]:
display(datasets)

for name, dataset in datasets.items():
    pickle_dump(save_dir / f"{name}.pkl", dataset)

print("Tokenized dataset saved to:", save_dir)

{'train': TokenizedEditDataset(n_projects=7, n_edits=7945),
 'test': TokenizedEditDataset(n_projects=2, n_edits=2186)}

Tokenized dataset saved to: /mnt/nas/jiayi/coeditor/datasets/small/tokenized-file_based

In [5]:
for name in ["train", "test"]:
    if not (save_dir / f"{name}.pkl").exists():
        continue
    dataset = pickle_load(save_dir / f"{name}.pkl")
    print("=" * 20, name, "=" * 20)
    display(dataset.per_repo_stats())

==================== train ====================

      repo  n_edits  avg_input_size  avg_target_size
0    flask      851     7269.105758        79.665100
1  fastapi     1472     3609.942935        74.455842
2  you-get     1311     3380.981693       124.073989
3   yolov5     1111     6255.445545       111.352835
4   httpie     1731     3012.428076        62.803582
5     bert       77     7134.727273       138.753247
6    black     1392    21380.726293        78.109914

==================== test ====================

       repo  n_edits  avg_input_size  avg_target_size
0       gym     1411     1906.742027        69.535790
1  requests      775     3599.452903        72.754839

==================== train ====================

      repo  n_edits  avg_input_size  avg_target_size
0    flask     1235     8513.451822        88.129555
1  fastapi     1566     3613.686462        75.245849
2  you-get     1387     3531.528479       120.326604
3   yolov5     1138     6266.356766       110.573814
4   httpie     1907     2979.315679        61.891977
5     bert       85     7257.411765       133.200000
6    black     1612    19975.775434        77.478908

==================== test ====================

       repo  n_edits  avg_input_size  avg_target_size
0       gym     1516     1949.631266        69.904354
1  requests      882     3540.645125        71.318594